/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all ease-in 0.3s;
}

:root {
  --interactive-color: rgb(230, 0, 182);
  --white-color: #dad1d1;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f1f5f8;
}

.interactive-color {
  color: var(--interactive-color);
}

img {
  width: 100%;
}

.logo {
  width: 150px;
  transition: all ease-in 0.3s;
}

.logo.active {
  width: 110px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white-color);
}

.title {
  font-size: 5rem;
  color: var(--white-color);
}

p {
  font-size: 1.5rem;
  color: var(--white-color);
}

.btn {
  border: 1px solid var(--white-color);
  padding: 12px 18px;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white-color);
  cursor: pointer;
  transition: all ease-in 0.3s;
}

.btn:hover {
  background-color: var(--interactive-color);
  z-index: 10000;
}

.margin-top-150 {
  margin-top: 150px;
}

/* Navbar */
.social-contact {
  background-color: rgb(38, 14, 248);
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.social-contact ul {
  margin-top: 12px;
}

.social-contact ul li {
  padding-right: 25px;
}

.navbar {
  height: 120px;
  z-index: 100;
  width: 100%;
  padding: 20px 50px;
  margin: 50px 0 !important;
  top: 0;
  background-image: linear-gradient(#ffc0cb, #00000099);
  --bs-navbar-brand-padding-y: 0.6rem;
}

.navbar .navbar-collapse,
.social-contact ul {
  justify-content: end;
}

@media screen and (max-width: 992px) {
  .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.585);
  }
  .navbar .nav-link {
    color: #e9ecef;
  }
}

.navbar .nav-link {
  font-size: 1.2rem;
  font-weight: 700;
}

.social-contact a.active,
.navbar-nav a.active {
  color: var(--white-color) !important;
  transition: all ease-in 0.3s;
}

.navbar.active {
  background-color: rgba(0, 0, 0, 0.5);
  height: 90px;
  transition: all ease-in 0.3s;
}

/* HERO SECTION */
.hero-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), #a072a0),
    url(../images/femcode_bg-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  top: -5px;
  position: relative;
  display: flex;
}

.hero-section .container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}

.hero-section .text-box {
  display: table-cell;
  vertical-align: middle;
}

/* CARD SECTION */

.card-img {
  object-fit: cover;
  height: 100%;
}

/* NETWORK PAGE */
.involved,
.break {
  text-align: center;
  margin: 55px 0 40px 0;
  display: block;
}

.success {
  color: #e600b6;
  font-weight: 700;
}

.success a:hover,
.accordion-body a:hover,
.develop-links:hover {
  color: #0f916a;
}

.success-stories {
  font-size: 20px;
  color: black;
  font-style: italic;
  font-weight: 350;
}

.develop {
  text-align: center;
}

.card {
  border: 1px solid #dadada;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 25px 0 25px;
}

.card h3 {
  padding: 2px;
  margin: 8px 0;
}

.card:hover {
  box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card .container {
  padding: 2px 14px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card h4 {
  margin-top: auto;
}

.card p {
  margin: 14px 0;
}

/* DEVELOPMENT PAGE */

.development-container {
  margin-top: 120px;
}

.development-col-container {
  border: 1px solid #dadada;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  background-color: #ffffff;
}

.develop-links,
.accordion-body a {
  color: #e600b6;
  text-decoration: underline;
}

.accordion-flush .accordion-item .accordion-button,
.accordion-flush .accordion-item .accordion-button.collapsed {
  background-color: var(--interactive-color);
  color: #ffffff;
  margin: 2px;
  font-weight: bolder;
}

.accordion-button::after {
  background-color: var(--white-color);
  border-radius: 50%;
}

/* LEARN PAGE */

.container-profile {
  padding-top: 175px;
}

.card {
  margin-bottom: 30px;
}

.card-img-top {
  max-height: 300px;
  object-fit: cover;
}

.card-title {
  font-weight: bold;
}

.card-text {
  color: black;
}

.social-media {
  margin-top: 10px;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.social-media li {
  display: inline-block;
  margin-right: 10px;
}

.social-media li:last-child {
  margin-right: 0;
}

.social-media li a {
  color: var(--interactive-color);
  font-size: 20px;
}

.social-media li a:hover {
  color: #a072a0;
}

/* CONTACT PAGE */

.form-section {
  margin-top: 180px;
}

#message {
  height: 120px;
}

.black-text {
  color: black;
}

.pink-text {
  color: var(--interactive-color);
}

.btn-green {
  background-color: #005b40;
}

/*ABOUT US PAGE */
.about-section-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), #a072a0),
    url("../images/about_us.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  top: -5px;
  position: relative;
  display: flex;
}

.about-section-img {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}

.about-container {
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  padding: 20px;
}

.profile-image-container {
  height: 200px;
  width: 200px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 50%;
  margin-left: 20px;
}

.kyle-image {
  background: url("../images/kyle-image.jpg") no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
}

/* 404 Page  */
.page-404 {
  margin-top: 5%;
}

/* Start of media queries section*/
/* Portrait */

/* Screen sizes equal to or narrower 280px wide */
@media screen and (max-width: 280px) and (orientation: portrait) {
  .page-404 {
    margin-top: 6em;
  }

  .page-404-image {
    margin-bottom: 5em;
  }

  .page-404-text-display {
    display: none;
  }

  .btn.page-404-btn-display {
    border: 1px solid var(--interactive-color);
    margin-top: 0.8em;
    padding: 5px;
    font-size: 0.8rem;
  }
}

/* Screen sizes equal to or narrower 540px wide */
@media screen and (max-width: 540px) and (orientation: portrait) {
  .page-404 {
    margin-top: 8em;
  }

  .page-404-image {
    margin-bottom: 5em;
  }

  .page-404-text-display {
    display: none;
  }
}

/* FOOTER */
.footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), #000000),
    url(../images/femcode_footer_image_bg.jpeg);
  background-position: 25% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  margin-top: 100px;
}

.footer .logo {
  width: 120px;
}

.footer h3 {
  color: var(--white-color);
}

.footer p {
  font-size: 0.9rem;
  width: 300px;
  color: rgb(128, 128, 128);
}

.footer .fas,
.footer .far {
  margin-right: 8px;
  color: var(--interactive-color);
}

.footer .copyright-box p {
  width: initial;
  font-size: 0.8rem;
}

.footer hr {
  background: #e600b6;
  height: 5px;
}

.footer .social-contac ul {
  margin-left: -29px;
}

.footer .social-contac li {
  background: #1b2925;
  width: 150px;
  margin-right: 5px;
  text-align: center;
  padding: 8px;
  width: 40px;
  cursor: pointer;
}

.footer .social-contac li:hover {
  background: #3f5a52;
}

.page-404 {
  margin-top: 5%;
}
/* Start of media queries section*/
/* Portrait */

/* Screen sizes equal to or narrower 280px wide */
@media screen and (max-width: 280px) and (orientation: portrait) {
  .page-404 {
    margin-top: 6em;
  }

  .page-404-image {
    margin-bottom: 5em;
  }

  .page-404-text-display {
    display: none;
  }

  .btn.page-404-btn-display {
    border: 1px solid var(--interactive-color);
    margin-top: 0.8em;
    padding: 5px;
    font-size: 0.8rem;
  }
}

/* Screen sizes equal to or narrower 540px wide */
@media screen and (max-width: 540px) and (orientation: portrait) {
  .page-404 {
    margin-top: 8em;
  }

  .page-404-image {
    margin-bottom: 5em;
  }

  .page-404-text-display {
    display: none;
  }
}
