/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --interactive-color: rgb(230, 0, 182);
  --white-color: #dad1d1;
}

body {
  font-family: "Roboto", sans-serif;
}

.interacti-color {
  color: var(--interactive-color);
}

img {
  width: 100%;
}

.logo {
  width: 150px;
  transition: all ease-in .3s;
}

.logo.active {
  width: 110px;
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white-color);
}

.title {
  font-size: 5rem;
  color: var(--white-color);
}

p {
  font-size: 1.5rem;
  color: var(--white-color);
}

.btn {
  border: 1px solid var(--white-color);
  padding: 12px 18px;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white-color);
  cursor: pointer;
  transition: all ease-in 0.3s;
}

.btn:hover {
  background-color: var(--interactive-color);
  z-index: 10000;
}

/* Navbar */
.social-contact {
  background-color: rgb(38, 14, 248);
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.social-contact ul {
  margin-top: 12px;
}

.social-contact ul li {
  padding-right: 25px;
}

.navbar {
  height: 120px;
  z-index: 100;
  width: 100%;
  padding: 20px 50px;
  margin: 50px 0 !important;
}


.navbar .navbar-collapse,
.social-contact ul {
  justify-content: end;
}

.navbar .nav-link {
  font-size: 1.2rem;
  font-weight: 700;
}

.social-contact a.active,
.navbar-nav a.active{
  color: var(--white-color) !important;
  transition: all ease-in .3s;
}

.navbar.active {
  background-color: rgba(0, 0, 0, 0.5);
  height: 90px;
  transition: all ease-in .3s;
  top:0;
}


/* HERO SECTION */
.hero-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), #a072a0),
    url(../images/femcode_bg-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  top: -5px;
  position: relative;
  display: flex;
}

.hero-section .container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}

.hero-section .text-box {
  display: table-cell;
  vertical-align: middle;
}
/* CARD SECTION */

.card-img {
  object-fit: cover;
  height: 100%;
}


/* NETWORK PAGE */
.involved, .break {
    text-align: center;
    margin: 25px 0 40px 0;
}

/* DEVELOPMENT PAGE */
.develop-container {
    display: flex;
    flex-direction: row;
  }

.develop {
    text-align: center;
}
  
  .card {
    border: 1px solid #dadada;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 25px 0 25px;
  }
  
  .card h3 {
    padding: 2px;
    margin: 8px 0;
  }
  
  .card:hover {
    box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  .card .container {
    padding: 2px 14px;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .card h4 {
    margin-top: auto;
  }
  
  .card p {
    margin: 14px 0;
  }

/* GOOGLE MAP */
div#map {
  min-height: 360px;
}

/* LEARN PAGE */

.card {
  margin-bottom: 30px;
}

.card-img-top {
  max-height: 300px;
  object-fit: cover;
}

.card-title {
  font-weight: bold;
}

.card-text {
  color: black;
}

.social-media {
  margin-top: 10px;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.social-media li {
  display: inline-block;
  margin-right: 10px;
}

.social-media li:last-child {
  margin-right: 0;
}

.social-media li a {
  color: #e700b7;
  font-size: 20px;
}

.social-media li a:hover {
    color: #a072a0;
}

/* CONTACT PAGE */

#message {
  height: 120px;
}

.black-text {
  color: black;
}

.pink-text {
  color: #e700b7;
}

.btn-green {
  background-color: #005B40;
}